/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Sito */

.titolo {
    padding: 15px;
    margin: 0 auto;
    height: 70px; /* fake content */
    vertical-align: middle;
    background: rgb(221, 0, 221);
}

/* Main Content */

.main-content {
    padding: 15px;
    height: 300px; /* fake content */
    margin: 15px 0;
    background: rgb(184, 184, 21);
}

/* Header Section 2 */

.titolo2 {
    padding: 15px;
    vertical-align: middle;
    
}

/* Content Section 2 */

section .titolo2,
section .sidebar,
section .content,
section .widgets {
    background: lightblue;
}

section .sidebar,
section .widgets {
    width: 24%;
    height: 300px; /* fake content */
}

.sidebar {
    padding: 15px;
    margin-right: 1%;
}

.content {
    padding: 15px;
    width: 50%;
    height: 300px; /* fake content */
}

.widgets {
    padding: 15px;
    margin-left: 1%;
}

/* Float Properties */

.container::after {
    content: '';
    display: table;
    clear: both;
}

.container .clearfix {
    float: left;
}

.container {
    margin: 15px 0;   
}

section {
    background: rgb(0, 0, 136); 
}

/* Footer */

footer {
    padding: 15px;
    height: 60px; /* fake content */
    vertical-align: middle;
    text-align: center;
    background: rgb(141, 1, 141);
}