
/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Sito */

.titolo {
    padding: 15px;
    margin: 0 auto;
    height: 70px; /* fake content */
    vertical-align: middle;
    background: purple;
}

/* Main Content */

.main-content {
    padding: 15px;
    height: 300px; /* fake content */
    margin: 15px 0;
    background: yellow;
}

